<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>http://172.16.60.218:8080/Users/huanghuanhuan/Documents/build/appBackup/IOS/SquareDance2019-05-23 18:27:22.ipa</string>
<key>New item</key>
<string></string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>iPhone Distribution</string>
<key>bundle-version</key>
<string>debug</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>糖豆广场舞IOS</string>
</dict>
</dict>
</array>
</dict>
</plist>

